$title-font: 'Rock 3D';
$headers-font:'Quicksand';
$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color:#89bab2;
$primary: #bfe6b1;
$accent1: #a98a6b;
$accent2: #5e97a9;
$grey-sidebar: 2px solid black;
$text-dark: black;
$text-light: #ffffff;


* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}
div.summary { color: #fff; text-transform: uppercase; letter-spacing: 1px; width: 65%; padding: 10px 0;}
div.summary a { color: #fff; text-decoration: none; border-bottom: 1px solid grey; }