$width: 255px;
$height: 400px;
$stroke: black;
$stroke-width: 3px;
$card-background: white; 
$red-stroke:red;
$darkred-stroke:darkred;

.card1 {
    display: inline-block;
    width: $width;
    height: $height;
    stroke: $stroke;
    stroke-width: $stroke-width;
}
.polygon1 {
    fill: $card-background;
    stroke: $red-stroke;
}
.rectangle1 {
    margin-left:  30px;
    width: 155px;
    height: 155px;  
    fill: $card-background;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: 100px;
    stroke: $stroke;
    stroke-width: 0.4px;
    fill: $darkred-stroke;
  }