/*  we start creating the curtain design, we have 3 main parts the full curtain, 
the left panel, and the right panel. what we try to do is to move both panels to the sides so you can see what is behind 
the curtains, the panels will move from the center of the screen to the sides. */

/* In terms of design the main thing is to have both panels always in front of the screen, 
behind the panels there should be a "prize" that will be shown when both panels move.*/

.curtain {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  &__wrapper {
    width: 100%;
    height: 100%;
    
    /* We create a "checkbox" which helps us to click on the panels and that starts the animation, 
    in this case we use a pseudo-class ":checked" which is associated with input elements of type radio or button 
    but to create this check to perform the action will always be visible on the screen 
    so we use the property opacity = 0 to hide it. */
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      top: 0;
      left: 0;
      
      // When the checkbox is checked...
      &:checked {
        
        // Slide the first panel
        &~div.curtain__panel--left {
          transform: translateX(0);
        }
        
        // Slide the second panel
        &~div.curtain__panel--right {
          transform: translateX(0);
        }
      }
    }
  }
  /* Before adding the animation when clicking on the panel the action that is performed is to change between the colors
   of the panel that are black and orange, the animation that is added is to move both panels, 
   the left one towards the flex-end and the right one towards the flex-start, 
   the amount that moves is the same but in different directions of the coordinates, 
   so the left one moves -100% and the right one 100% this is so that they go in opposite directions.
 */
  &__panel {
    display: flex;
    align-items: center;
    background: orange;
    color: #fff;
    float: left;
    position: relative;
    width: 50%;
    height: 100vh;
    transition: all 1s ease-out;
    z-index: 2;
    &--left {
      justify-content: flex-end;
      transform: translateX(-100%);
    }
    &--right {
      justify-content: flex-start;
      transform: translateX(100%);
    }
  }
/*It is important to remember that the panel and the curtain are shown in the whole component that is why we use width and height 100%, 
at the end when the animations are ready we have to gather all the parts and make sure that the text and the image is shown, 
the text is divided in two and the image is positioned on the panel that will be at the bottom and making sure it is in the center using justify-content:center, 
so when opening the panels that start from the center of the component the first thing you will see is the image.
the text is also aligned to the center using text-align:center because most of the parts of the component are focused in the middle of the screen, 
also for that reason the only change of percentages in the panels is 50% which leaves it in the middle of the component.
 */
  &__content {
    align-items: center;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    
    img {
      width: 20%;
    }
  }

}